
---
import Logo from './Logo.astro';
---

<header class="bg-linear-to-br from-ez-red-700 to-ez-red-900">
	<nav class="container mx-auto flex items-center justify-between px-4 py-6">
		<a href="/" class="flex items-center">
			<Logo class="size-16 md:size-32 text-white sm:h-10" />
		</a>
		
		<div class="flex items-center gap-4 sm:gap-8">
			<a href="#about" class="font-ui text-lg font-medium transition-colors hover:text-ez-yellow-400">
				about
			</a>
			<a href="#policies" class="font-ui text-lg font-medium transition-colors hover:text-ez-yellow-400">
				policies
			</a>
			<a href="#" class="font-ui text-lg font-medium transition-colors hover:text-ez-yellow-300">
				account
			</a>
		</div>
	</nav>
</header>
