---
type Props = { class?: string };
const { class: className = '' } = Astro.props as Props;

const paths = {
  p3503e200:
    'M0 6.79274C0 5.84782 0.133592 4.9653 0.400775 4.14518C0.667959 3.32506 1.0242 2.61191 1.46951 2.00573C1.93263 1.38173 2.4759 0.891436 3.09933 0.534862C3.72276 0.178287 4.38181 0 5.07649 0H19.2639C19.9586 0 20.6088 0.178287 21.2144 0.534862C21.8378 0.891436 22.3811 1.38173 22.8442 2.00573C23.3073 2.61191 23.6725 3.32506 23.9396 4.14518C24.2068 4.9653 24.3404 5.84782 24.3404 6.79274V15.6982H6.38569V23.4269H25.997C25.9257 24.0509 25.7476 24.6482 25.4626 25.2187C25.1954 25.7714 24.8481 26.2528 24.4206 26.6628C24.0109 27.0729 23.5389 27.4027 23.0045 27.6523C22.4701 27.8841 23.619 28 23.0312 28H5.07649C4.38181 28 3.72276 27.8217 3.09933 27.4651C2.4759 27.1086 1.93263 26.6272 1.46951 26.021C1.0242 25.397 0.667959 24.6749 0.400775 23.8548C0.133592 23.0347 0 22.1522 0 21.2073V6.79274ZM17.9547 11.9542V4.57307H6.38569V11.9542H17.9547Z',
  p34d4d380:
    'M23.0312 23.0258L38.2607 4.57307H23.8328L19.2639 0H45.0739V4.92073L29.9246 23.4269H47.1579C47.0866 24.0509 46.9085 24.6482 46.6235 25.2187C46.3563 25.7714 46.009 26.2528 45.5815 26.6628C45.1718 27.0729 44.6998 27.4027 44.1654 27.6523C43.6311 27.8841 43.07 28 42.4822 28H23.0312V23.0258Z',
};
---

<div class:list={[className]}>
	<svg
		class="block size-full"
		fill="none"
		preserveAspectRatio="none"
		viewBox="0 0 48 28"
		aria-label="ezmode.games mark"
		role="img"
	>
		<g>
			<path d={paths.p3503e200} fill="currentColor" />
			<path d={paths.p34d4d380} fill="currentColor" />
		</g>
	</svg>
</div>
